---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.jsx";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const trendingPost = (await getCollection("trending")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="flex flex-col md:px-14 px-4">
      <section>
        <div class="text-center my-20">
          <h1 class="md:text-5xl text-[37px] font-black uppercase">
            latest<span class="bg-white text-black mx-2 rounded-xl px-3"
              >News</span
            >& Updates
          </h1>
          <p class="text-[#b3b3b3] text-[19px] my-4 leading-tight md:my-5 px-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>

      <h1 class="lg:text-4xl text-[28px] font-black uppercase mt-32 mb-4 lg:mb-10">
          <span class="bg-white text-black mx-2 rounded-xl px-3"
            >Latest</span
          >Articles
        </h1>
        <ul
          class="trending grid grid-cols-1 lg:grid-cols-[2fr_1.5fr_1.5fr] lg:gap-3"
        >
          {
            trendingPost.map((post) => (
              <li class="relative bg-[#111] py-4">
                <a class="trending-link" href={`/blog/${post.id}/`}>
                  <img src={post.data.heroImage} alt="" />
                  <div class="mx-4">
                    <h3 class="title font-black text-xl my-2">
                      {post.data.title}
                    </h3>
                    <h4 class=" lg:hidden">{post.data.description}</h4>
                    <h5 class="md:my-2 my-1 text-[17px] w-fit px-2 ">#{post.data.tag}</h5>
                    <p class="text-base font-light flex">
                      <span>by {post.data.author}</span>
                      <span class="date ml-20">
                        <FormattedDate date={post.data.pubDate} />
                      </span>
                    </p>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
      <section class="mt-20">
        <h1
          class="text-center text-3xl md:text-4xl mt-14 mb-4 md:mb-14 font-black"
        >
          Travel Guides
        </h1>
        <ul
          class="grid md:grid-cols-2 lg:grid-cols-[1.3fr_1.8fr_1.3fr] grid-cols-1 gap-4"
        >
          {
            posts.map((post) => (
              <li class="">
                <a href={`/blog/${post.id}/`}>
                  <img class="h-52 w-full" src={post.data.heroImage} alt="" />
                  <h4 class="title font-black text-xl my-2">
                    {post.data.title}
                  </h4>
                  <h5 class="md:my-2 my-1 text-[18px]">#{post.data.tag}</h5>
                  <p class="date text-base font-light flex">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
